# Archivos generados
## Clases
personitas_modificado.xlsx
ejemplo.csv
argentina_cars.xlsx
precios_promedio_marcas.xlsx

## Parcial 1
campeones_lol.xlsx

## Parcial 2
iss.json
vehiculos.txt

# md
/.obsidian
